/* Styles reset */
* {
  font-family: "inter";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter_18pt-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter_18pt-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter_18pt-Italic.ttf);
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter_18pt-Light.ttf);
  font-weight: light;
  font-style: light;
}

/* Variables */
$blackprimary: #101010;
$whiteprimary: #d5d5d5;
$grayprimary: #757575;

/* Styles */
body {
  background-color: $blackprimary;

  /* Navbar */
  nav {
    background-color: $blackprimary;

    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      justify-content: center !important;
      align-items: center;

      .navbar-brand {
        color: $whiteprimary;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        transform: translateX(12vh);
      }
      @media screen and (max-width: 768px) {
        .navbar-brand {
          transform: translateX(0) !important;
        }
      }

      /* Navbar menu */
      .navbar-toggler {
        border: none;
        background-color: transparent;
        padding-right: 0;
        left: 0 !important;
        box-shadow: none;

        .navbar-toggler-icon {
          font-size: 1.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%23d5d5d5' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
      }

      /* Offcanvas menu */
      .offcanvas {
        transition: all 0.3s ease-in-out;

        .offcanvas-header {
          background-color: $blackprimary;
          .offcanvas-title {
            color: $whiteprimary;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 auto;
            margin-left: 4rem;
          }
          @media screen and (max-width: 1200px) {
            .offcanvas-title {
              margin-left: 15vw !important;
            }
          }
        }

        .offcanvas-body {
          background-color: $blackprimary;
          .searchbar {
            justify-content: center;
            margin-top: 18vh !important;
            input {
              border-radius: 0;
              background-color: $blackprimary;
              border: none;
              border-bottom: $whiteprimary 1px solid;
              color: $whiteprimary !important;
              box-shadow: none;
              width: 200px;
            }
          }
          .dropdowns-box {
            display: flex;
            justify-content: space-around;

            button {
              background-color: transparent;
              border: none;
              color: $whiteprimary;
              text-decoration: none;
              font-size: 1rem;
              cursor: pointer;
              padding: 10px 15px;
              text-transform: uppercase;

              &:hover {
                color: $whiteprimary;
                background-color: rgba(255, 255, 255, 0.1);
              }
            }
          }
          .dropdown-menu {
            background-color: $blackprimary;
            border: none;
            box-shadow: none;
            position: absolute;
            .dropdown-item {
              color: $whiteprimary;
              &:hover {
                background-color: $whiteprimary;
                color: $blackprimary;
              }
            }
          }
        }
      }
      /* Cart button */
      .cart-button {
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $whiteprimary;
        text-decoration: none;
        margin: 0 15px;

        .cart-icon {
          width: 22px;
          height: 22px;
        }

        .cart-count {
          position: absolute;
          top: -8px;
          right: -8px;
          background: $grayprimary;
          color: $whiteprimary;
          font-size: 10px;
          border-radius: 50%;
          padding: 2px 6px;
        }
      }

      /* Searchbar */
      .searchbar-pc {
        margin-top: 0 !important;

        input {
          border-radius: 0;
          background-color: $blackprimary;
          border: none;
          border-bottom: $whiteprimary 1px solid;
          color: $whiteprimary !important;
          box-shadow: none;
          width: 200px;
        }
      }
      @media screen and (max-width: 768px) {
        .searchbar-pc {
          display: none !important;
        }
      }
    }
  }

  /* Banner */
  header {
    .banner-box {
      padding: 0;
      img {
        width: 100%;
        height: 85vh;
        border: 1px solid $grayprimary;
        margin-top: 4.5rem;
        @media screen and (max-width: 1366px) {
          height: 70vh;
        }
        @media screen and (max-width: 768px) {
          height: 25vh;
        }
      }
    }
  }

  /* Main content */
  main {
    .welcome-box {
      border-bottom: 1px solid $grayprimary;
      margin-top: 1rem;
      h1 {
        font-size: 2.5rem;
        text-align: center;
        font-weight: bold;
        color: $whiteprimary;
        text-transform: uppercase;
      }
    }

    /* Remeras section */

    .sections-texto-box-html {
      margin-top: 4rem;
      border: 1px solid $grayprimary;
      .p-sections-texto {
        margin-top: 0rem;
      }
    }
    .box-sections-html {
      border-bottom: 1px solid $grayprimary;
    }

    .remeras-texto-box {
      border-bottom: 1px solid $grayprimary;
      text-align: start;

      p {
        margin: 0.5rem;
        font-size: 1.5rem;
        color: $whiteprimary;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .box-remeras {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .remera1-box {
        border: 1px solid $grayprimary;
        border-top: none;
        border-bottom: none;

        @media screen and (max-width: 768px) {
          border-bottom: 1px solid $grayprimary;
        }

        img {
          width: 400px;
          height: 400px;
          padding: 0;
          margin: 0;
          cursor: pointer;
          @media screen and (max-width: 1366px) {
            width: 300px;
            height: 300px;
          }
          @media screen and (max-width: 768px) {
            width: 400px;
            height: 400px;
          }

          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
            @media screen and (max-width: 768px) {
              width: 100%;
              &:hover {
                transform: none;
                transition: none;
              }
            }
          }

          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        h2 {
          border-top: 1px solid $grayprimary;
          font-size: 1.5rem;
          color: $whiteprimary;
          text-transform: uppercase;
          margin-top: -2rem;
          padding-top: 1rem;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          color: $whiteprimary;
          text-align: center;
          margin: 0.5rem 0;
        }
      }
    }

    /* Baggys section */
    .baggys-texto-box {
      border: 1px solid $grayprimary;
      @extend .remeras-texto-box;

      p {
        margin: 0.5rem;
        font-size: 1.5rem;
        color: $whiteprimary;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .box-baggys {
      @extend .box-remeras;
      .baggy1-box {
        @extend .remera1-box;
        img {
          width: 400px;
          height: auto;
          padding: 0;
          margin: 0;

          @media screen and (max-width: 1366px) {
            width: 300px;
            height: auto;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }

        h2 {
          font-size: 1.5rem;
          color: $whiteprimary;
          text-transform: uppercase;
          margin-top: 0.5rem;
          padding-top: 1rem;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          color: $whiteprimary;
          text-align: center;
          margin: 0.5rem 0;
        }
      }
    }

    /* Hoodies section */
    .hoodies-texto-box {
      border: 1px solid $grayprimary;
      @extend .remeras-texto-box;

      p {
        margin: 0.5rem;
        font-size: 1.5rem;
        color: $whiteprimary;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .box-hoodies {
      @extend .box-remeras;
      .hoodies-box {
        @extend .remera1-box;
        img {
          width: 400px;
          height: 450px;
          padding: 0;
          margin: 0;

          @media screen and (max-width: 1366px) {
            width: 300px;
            height: 300px;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
            height: 450px;
          }
        }
        h2 {
          font-size: 1.5rem;
          color: $whiteprimary;
          text-transform: uppercase;
          margin-top: 0.5rem;
          padding-top: 1rem;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          color: $whiteprimary;
          text-align: center;
          margin: 0.5rem 0;
        }
      }
    }

    /* Zip-Hoodies section */
    .zip-hoodies-texto-box {
      border: 1px solid $grayprimary;
      @extend .remeras-texto-box;
      justify-content: left;

      p {
        margin: 0.5rem;
        font-size: 1.5rem;
        color: $whiteprimary;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .box-zip-hoodies {
      @extend .box-remeras;
      justify-content: left !important;
      gap: 1.5rem;
      @media screen and (max-width: 768px) {
        gap: 0;
      }
      .zip-hoodies-box {
        @extend .remera1-box;
        border-bottom: 1px solid $grayprimary;
        img {
          width: 400px;
          height: 450px;
          padding: 0;
          margin: 0;

          @media screen and (max-width: 1366px) {
            width: 350px;
            height: 400px;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
            height: 450px;
          }
        }
        h2 {
          font-size: 1.5rem;
          color: $whiteprimary;
          text-transform: uppercase;
          margin-top: 0.5rem;
          padding-top: 1rem;
          text-align: center;
        }
        p {
          font-size: 1.2rem;
          color: $whiteprimary;
          text-align: center;
          margin: 0.5rem 0;
        }
      }
    }
  }

  footer {
    .footer-background {
      border: $whiteprimary 2px solid;
      margin-top: 25vh;
      width: 100%;
      height: 40vh;
      background-color: $grayprimary;
      @media screen and (max-width: 768px) {
        margin-top: 10vh;
        height: 30vh;
      }

      .logo-footer {
        text-align: left;
        font-size: 2rem;
        color: $whiteprimary;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 20vh;
        margin-left: 1rem;
        margin-bottom: 0;
        @media screen and (max-width: 768px) {
          text-align: center;
          margin: 0;
        }
      }

      .derechos {
        text-align: left;
        font-size: 1rem;
        color: $whiteprimary;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .box-nav-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        translate: -18vw -13vh;
        @media screen and (max-width: 768px) {
          translate: 0 5vh;
        }
        a {
          text-decoration: none;
          color: $whiteprimary;

          &:hover {
            scale: 1.05;
            text-decoration: underline;
            transition: all 0.1s ease-in-out;
          }
        }
      }
      .box-information {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        translate: 40vw -27vh;
        width: 20vw;
        @media screen and (max-width: 768px) {
          display: none;
        }

        a {
          text-decoration: none;
          color: $whiteprimary;

          &:hover {
            scale: 1.05;
            text-decoration: underline;
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
  }
}
